$primary_dark-cyan: hsl(185, 75%, 39%);
$primary_Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$primary_Dark-grayish-blue: hsl(227, 10%, 46%);
$neutral_dark-grey: hsl(0, 0%, 59%);

$font-weights: (
  regular: 400,
  bold: 700,
);
$font-family: "Kumbh Sans", sans-serif;
